header {
  a {
    position: absolute;
    top: 18px;
    left: 18px;
    .fas {
      font-size: 1.2rem;
      color: #000;
    }
  }
  .logo {
    padding: 3%;
    text-align: center;
    img {
      width: 40%;
    }
  }
  form {
    text-align: center;
    border-top: 3px solid gray;
    background-color: #eaeaea;
    .input {
      display: flex;
      justify-content: center;
      padding: 3%;
      .fas {
        margin-right: 15px;
      }
      input {
        width: 100px;
        border: none;
        outline: none;
        background-color: #eaeaea;
      }
    }
  }
}
