/*--- Buttons ---*/

/*-- Reset Button Styles*/

// button{

// }

/*-- Actions buttons --*/
.action_button {
  padding: 10px 15px;
  color: #fff;
  border: none;
  border-radius: 40px;
  background: $primary-gradient;
}
