.image {
  background-image: url("../../../public/images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
  background-position: center;
  background-size: cover;
  height: 25vh;
}

#menu {
  border-radius: 35px 35px 0px 0px;
  background-color: #f6f6f6;
  padding: $section-padding;
  margin-top: -35px;
  .menu__header {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    h1 {
      font-family: "Shrikhand";
    }
    .far {
      font-size: 1.2rem;
      color: rgb(128 128 128);
    }
  }
  .menu__list {
    margin-bottom: 5vh;
    h2 {
      text-transform: uppercase;
      color: gray;
      font-weight: 100;
      font-size: 1rem;
      border-bottom: 3px solid $tertiary-color;
      width: 40px;
    }
  }
  .menu__button {
    display: flex;
    justify-content: center;
    margin-top: 10%;
  }
}
