/*--- Styles index.html ---*/

/*--- INFORMATION SECTION ---*/

.information {
  padding: 4% 17% 10% 17%;
  text-align: center;
  background-color: #f6f6f6;
  h2 {
    margin-bottom: 0px;
  }
  p {
    color: gray;
  }
}

/*--- FONCTIONALITY SECTION ---*/

.functionality {
  padding: $section-padding;
}

/*--- RESTAURANTS SECTION ---*/

.restaurant {
  padding: $section-padding;
}

/*--- RESTAURANT CARDS ---*/

.restaurant {
  background-color: #f6f6f6;
  #restaurants {
    display: grid;
    grid-row-gap: 30px;
  }
}
