/*--- Styles index.html ---*/

/*--- INFORMATION SECTION ---*/

.information {
  padding: 4% 17% 10% 17%;
  text-align: center;
  background-color: #f6f6f6;
  h2 {
    margin-bottom: 0px;
  }
  p {
    color: gray;
  }
}

/*--- FONCTIONALITY SECTION ---*/
.functionality {
  padding: 5% 5% 10% 5%;
}
/*--- FONCTIONALITY BUTTONS ---*/
.functionality__buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  button {
    display: flex;
    justify-content: start;
    align-items: baseline;
    font-weight: 600;
    background-color: #f6f6f6;
    box-shadow: $box-shadow;
    padding: 5%;
    margin-bottom: 6%;
    border-radius: 20px;
    width: 85vw;
    .bkg {
      width: 30px;
      height: 30px;
      border-radius: 15px;
      background-color: $primary-color;
      position: relative;
      right: 35px;
      span {
        color: #fff;
        line-height: 30px;
      }
    }
    .fas {
      color: gray;
      margin-right: 30px;
    }
  }
}

/*--- RESTAURANTS SECTION ---*/

.restaurant {
  padding: 5% 5% 10% 5%;
}

/*--- RESTAURANT CARDS ---*/
.img {
  flex-grow: 1;
  background-position: center;
  background-size: cover;
  border-radius: 20px 20px 0px 0px;
}
.img1 {
  background-image: url("../../../public/images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
}

.img2 {
  background-image: url("../../../public/images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");
}

.img3 {
  background-image: url("../../../public/images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
}

.img4 {
  background-image: url("../../../public/images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
}

.restaurant {
  background-color: #f6f6f6;
  #restaurants {
    display: grid;
    grid-row-gap: 30px;
    .restaurant__card {
      display: flex;
      flex-direction: column;
      border-radius: 20px;
      background-color: #fff;
      box-shadow: $box-shadow;
      height: 25vh;
      .restaurant__card__label {
        position: relative;
        top: 10%;
        left: 70%;
        padding: 1% 3%;
        color: $label-content;
        background-color: $tertiary-color;
      }
      .restaurant__card__content {
        display: flex;
        align-items: baseline;
        justify-content: space-between;
        padding: 1% 4%;
        line-height: 5px;
        p {
          color: gray;
        }
        .far {
          color: rgb(128 128 128);
          font-size: 1.4em;
        }
      }
    }
  }
}
